doctype html
html
  head
    title MY FITNESS CENTER
    block scripts
    block style
  body
     nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
    
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us] 

     block content
     block foot
      #footer
        | Copyright 2019 Nisha's Fitness Center | All Rights Reserved