extends base.pug

block scripts
   script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection
        div Welcome to My Fitness Center
        div.small Healthy INDIA

    section#missionSection
        h2 Our Mission
        div.card
            h3 Health is Wealth
            div.card-box
                div.card-img
                    img(src="/static/img/1.jpg")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ullam. ipsum, dolor sit amet consectetur adipisicing el elit. Aut, corrupti. Unde odit volup.
        div.card
            h3 Health dietary 
            div.card-box
                div.card-img
                    img(src="/static/img/2.jpg")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, odio. ipsum, dolor sit amet consectetur adipisicing elit. Velit fugit dignissimos sint. Sed rerum.
        div.card
            h3 Expert Guidance
            div.card-box
                div.card-img
                    img(src="/static/img/3.jpg")
                div.card-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis. ipsum dolor sit amet consectetur adipisicing elit. Iusto non deleniti nam ullam quaerat .

    section#sponsorsSection
        h2 Our Sponsors
        div#sponsers
          img(src= "/static/img/logo1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/logo2.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/logo3.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/logo4.png", alt= "Sponsor Image", class= "spImage")
    